#para{ 
    color: red;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 48;
}
#para1{
    margin-bottom : 500px;
}
#bgg {
    background-color: #ffffff;
}
#bimg{
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
}
#bgg2{
	background-image: url("images/gt.png");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    margin-bottom: 50px;
}
#game{
    margin-left: 200px;
    margin-bottom: 200px;
}